.ExerciseBoldName {
	font-weight: bold;
}

.ExerciseColorTypes {
	opacity: 0.7;
}

.ExerciseDropdownMenu {
	right: 16px;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.ExerciseDropdownToggle {
	background-color: white !important;
	border: none !important;
	color: black !important;
	height: 16px !important;
	width: 16px !important;
	padding: 0px !important;
}

.ExerciseDropdownToggle::after {
	display: none !important;
}

.ExerciseDropdownToggleIcon {
	height: 16px;
	width: 16px;
	vertical-align: baseline;
}

.ExerciseDropdownMenuIcon {
	margin-left: 75%;
}

.ExerciseDropdownDelete {
	color: red !important;
}

.ExerciseDropdownItemIcon {
	float: right;
	margin-top: 4px;
}

.ExerciseDeleteCancelButton {
	color: #292B2C !important;
}

.ExerciseDeleteCancelButton:hover {
	color: white !important;
}

.ErrorModalFooter {
	margin: 0px !important;
	padding: 0px !important;
}

.ErrorModalDismiss {
	border: 0px !important;
	margin: 0px !important;
	text-align: center !important;
	color: #0275D8 !important;
}

.ErrorModalBody {
	text-align: center !important;
}

.ErrorModalBodyText {
	opacity: 0.7;
}
