.MenuBar {
	height: 48px;
}

.MenuBarBottom {
	border-bottom: 1px solid rgba(0,0,0,0.125);
}

.MenuBarBuffer {
	height: 48px;
}

.MenuBarTitle {
	font-size: 32px;
}

.MenuBarLeftIcon {
	height: 24px;
	margin-top: 12px;
	margin-bottom: 12px;
	margin-left: 16px;
	float: left;
}

.MenuBarRightIcon {
	height: 24px;
	margin-top: 12px;
	margin-bottom: 12px;
	margin-right: 16px;
	float: right;
}
