.CaloriesInput {
	color: #FFFFFF !important;
	background-color: #482BAD !important;
	border: 0px !important;
}

.DistanceInput {
	color: #FFFFFF !important;
	background-color: #329DAD !important;
	border: 0px !important;
}

.RepsInput {
	color: #FFFFFF !important;
	background-color: #3DAD62 !important;
	border: 0px !important;
}

.TimeInput {
	color: #FFFFFF !important;
	background-color: #ADA136 !important;
	border: 0px !important;
}

.WeightInput {
	color: #FFFFFF !important;
	background-color: #AD2149 !important;
	border: 0px !important;
}


